@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Inter', 'sans-serif';
}


.navbar-fixed {
    @apply fixed z-[9999] bg-white/30 bg-opacity-50;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0, 0.2);
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
    @apply  rotate-45;
}
.hamburger-active > span:nth-child(3) {
    @apply  -rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

@layer components{
    .grid-card {
        @apply aspect-[5/3] rounded-lg md:aspect-[3/4] lg:aspect-[5/3] overflow-hidden relative hover:scale-95 transition-all duration-500;
    }
    .grid-card-img{
        @apply w-full h-full bg-cover bg-center absolute;
    }
    .card-img{
        @apply group-hover:scale-125 group-hover:rotate-12 transition-all duration-500;
    }
    .selaput-galeri{
        @apply bg-white/20 opacity-80 absolute w-full h-full z-10 flex justify-center;
    }
}

